# Build and Release Folders
bin/
bin-debug/
bin-release/
flox/doc/html/

# Flash Builder
.settings/
.flexProperties
.FlexUnitSettings

# IntelliJ IDEA
*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries

# OS X folders
.DS_Store

